<a href="https://colab.research.google.com/github/Ktrinder/FF-/blob/main/FF_Python_Week_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
x=4
y=5
not(x==y)

True

In [ ]:
x=10
if x%2==0:
  print("This is an even number")
else:
    print("This is not an even number")

This is an even number

In [ ]:
a=15
b=12
if a==b:
  print("The two numbers are equal")
elif a>b:
  print("The first number is greater than second")
else:
  print("The first number is smaller than the second")

The first number is greater than second

In [ ]:
a=0
b=3
if b>a:
  print("Positive")
elif b<a:
  print("Negative")

Positive

In [ ]:
x=3
if x==0:
  print("equal to zero")
elif x>0:
  print("positive")
else:
  print("negative")

positive

In [ ]:
for i in range(0,11):
  print("The iteration is {}".format(i))
print("The end")

The iteration is 0
The iteration is 1
The iteration is 2
The iteration is 3
The iteration is 4
The iteration is 5
The iteration is 6
The iteration is 7
The iteration is 8
The iteration is 9
The iteration is 10
The end

In [ ]:
a=1
while a<6:
  print(a)
  a=1+a
print("The end")

1
2
3
4
5
The end

In [ ]:
targetvalue=10
iterate=0
while iterate <targetvalue:
  print("The iteration number is {}, which is less than the target value {}".format(iterate, targetvalue))
  iterate=iterate+1
print("The end")

The iteration number is 0, which is less than the target value 10
The iteration number is 1, which is less than the target value 10
The iteration number is 2, which is less than the target value 10
The iteration number is 3, which is less than the target value 10
The iteration number is 4, which is less than the target value 10
The iteration number is 5, which is less than the target value 10
The iteration number is 6, which is less than the target value 10
The iteration number is 7, which is less than the target value 10
The iteration number is 8, which is less than the target value 10
The iteration number is 9, which is less than the target value 10
The end

In [ ]:
for i in range(1,6):#outer loop
  for j in range(1,11):#inner loop
    print(i*j)

1
2
3
4
5
6
7
8
9
10
2
4
6
8
10
12
14
16
18
20
3
6
9
12
15
18
21
24
27
30
4
8
12
16
20
24
28
32
36
40
5
10
15
20
25
30
35
40
45
50

In [ ]:
colours = ["blue", "red", "yellow"]
cars = ["BMW", "Mercedes", "Range"]
for colour in colours:
  for car in cars:
    print(colour, car)

blue BMW
blue Mercedes
blue Range
red BMW
red Mercedes
red Range
yellow BMW
yellow Mercedes
yellow Range

In [ ]:
targetvalue=5
iterate=0
while iterate<targetvalue:
  print("Iteration number is {}, which is less than the target value".format(iterate,targetvalue))
  if iterate==3:
    print("Condition is met")
    break
  iterate=iterate+1

Iteration number is 0, which is less than the target value
Iteration number is 1, which is less than the target value
Iteration number is 2, which is less than the target value
Iteration number is 3, which is less than the target value
Condition is met

In [ ]:
targetvalue=5
iterate=0
while iterate<targetvalue:
  iterate=iterate+1
  if iterate==2:
    continue
  print("Iteration number is {}, which is less than the target value {}".format(iterate,targetvalue))
print("Iteration number has been skipped")

Iteration number is 1, which is less than the target value 5
Iteration number is 3, which is less than the target value 5
Iteration number is 4, which is less than the target value 5
Iteration number is 5, which is less than the target value 5
Iteration number has been skipped

In [ ]:
names=["Mercy", "Anis", "Chris", "Israel"]
for name in names:
  if name=="Chris":
    continue
  print(name)

Mercy
Anis
Israel

In [ ]:
mylist=["Michael", "Sean", "Adam"]
mylist[0]="John"
print(mylist)

['John', 'Sean', 'Adam']

In [ ]:
mylist[0:2]

['John', 'Sean']

In [ ]:
print(len(mylist))

3

In [ ]:
print(type(mylist))

<class 'list'>

In [ ]:
mylist=["Michael", "Sean", "Adam"]
if "Sean" in mylist:
  print("Yes the element is present")

Yes the element is present

In [ ]:
mylist=["Michael", "Sean", "Adam"]
mylist.insert(0,"Mercy")
print(mylist)

['Mercy', 'Michael', 'Sean', 'Adam']

In [ ]:
mylist.append("John")
print(mylist)

['Mercy', 'Michael', 'Sean', 'Adam', 'John']

In [ ]:
mylist1=["Michael", "Sean", "Adam"]
mylist2=["Zara", "Alex"]
mylist1.extend(mylist2)
print(mylist1)

['Michael', 'Sean', 'Adam', 'Zara', 'Alex']

In [ ]:
mylist2.extend(mylist1)
print(mylist2)

['Zara', 'Alex', 'Michael', 'Sean', 'Adam', 'Zara', 'Alex', 'Michael', 'Sean', 'Adam', 'Zara', 'Alex']

In [ ]:
mylist3=["Michael", "Sean", "Adam"]
mylist4=["Zara", "Alex"]
mylist4.extend(mylist3)
print(mylist4)

['Zara', 'Alex', 'Michael', 'Sean', 'Adam']

In [ ]:
mylist4.remove("Zara")
print(mylist4)

['Alex', 'Michael', 'Sean', 'Adam']

In [ ]:
mylist4.pop()
print(mylist4)

['Alex', 'Michael', 'Sean']

In [ ]:
mylist4.pop(1)
print(mylist4)

['Alex', 'Sean']

In [ ]:
mylist5=["Zara", "Alex", "Zara", "Michael", "Sean", "Adam"]
mylist4=["Noun", "Adjectives", "Adverbs"]
mylist6=mylist5+mylist4
print(mylist6)

['Zara', 'Alex', 'Zara', 'Michael', 'Sean', 'Adam', 'Noun', 'Adjectives', 'Adverbs']

In [ ]:
mylist=["England", "Wales", "Scotland", "Northern Ireland"]
if "Wales" in mylist:
  print("Present")

Present

In [ ]:
mylist=["England", "Wales", "Scotland", "Northern Ireland"]
mylist.insert(4, "France")
print(mylist)

['England', 'Wales', 'Scotland', 'Northern Ireland', 'France']

In [ ]:
companies=["tiktok", "whatsapp", "facebook"]
searchedfor="google"
if searchedfor in companies:
  print("Yes, the company you searched for {} is in there".format(searchedfor))
else:
 print("the programme you wrote is adding {}".format(searchedfor))
companies.append("google")
print(companies)

the programme you wrote is adding google
['tiktok', 'whatsapp', 'facebook', 'google']

In [ ]:
InstrumentList = ["Trombone", "Piano", "Guitar"]
InstrumentGuess = input ('Please put an instrument: ')
print ("You Selected {}".format(InstrumentGuess))
if InstrumentGuess in InstrumentList:
  print("{} is already part of the list!".format(InstrumentGuess))
else: 
  print("{} is not in the list so will be added".format(InstrumentGuess))
  InstrumentList.append("{}".format(InstrumentGuess))
print (InstrumentList)

Please put an instrument: Piano
You Selected Piano
Piano is already part of the list!
['Trombone', 'Piano', 'Guitar']

In [ ]:
mylist7=["Meta", "Google", "Tesla", "Snap"]
element=input("Please input tech co. name (Capitalised)")
if element in mylist7:
  print("Tech company already exists")
else:
  mylist7.append(element)
  print("The new list is:", mylist7)

Please input tech co. name (Capitalised)Starbucks
The new list is: ['Meta', 'Google', 'Tesla', 'Snap', 'Starbucks']

In [ ]:
companies=["Meta", "Google", "Tesla", "Snap"]
for element in range(len(companies)):
  print(element, companies[element])

0 Meta
1 Google
2 Tesla
3 Snap

In [ ]:
a = [1,2,3,4,5,6]
c=[]
for x in a:
  c.append(x**2)
print(c)

[1, 4, 9, 16, 25, 36]

In [ ]:
a = [1,2,3,4,5,6]
b = [x**2 for x in a]
print(b)

[1, 4, 9, 16, 25, 36]

In [ ]:
mylist8=[letter.upper() for letter in "python"]
print(mylist8)

['P', 'Y', 'T', 'H', 'O', 'N']

In [ ]:
mydict={"employee":"Zara", "salary":5000}
mydict["department"] = "sales"
print(len(mydict))

3

In [ ]:
mydict={"employee":"Zara", "salary":5000, "department":"sales"}
if "department" in mydict:
  print("The key exists")

The key exists

In [ ]:
mydict={"employee":"Zara", "salary":5000, "department":"sales"}
mydict.update({"status":"permanent", "salary":6000, "level":3})
print(mydict)

{'employee': 'Zara', 'salary': 6000, 'department': 'sales', 'status': 'permanent', 'level': 3}

In [ ]:
mytuples = ("Audi", "Ford", "Tesla")
mylist9=list(mytuples)
mylist9[1]="BMW"
mytuples=tuple(mylist9)
print(mytuples)

('Audi', 'BMW', 'Tesla')